# TeX/LaTeX intermediates # 
########################### 
*.*~ 
*.aux 
*.log 
*.tmp 
*.xref 
*.pdx 
*.pnd 
*.bbl 
*.bcf 
*.auto
*.fls 
*.blg 
*.dvi 
*.glo 
*.out 
*.idx 
*.ilg 
*.ind 
*.idv 
*.4ct 
*.4tc 
*.lg 
*.xmpi 
*.tcp 
*.toc 
*.tps 
*.lot
*.lof
*blx.bib 
*.run.xml
*.fdb_latexmk
*.synctex.gz
*.code-workspace
.vscode